* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEEEEE;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    padding: 20px;
    text-align: center;
    font-size: x-large;
}

.content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap-reverse;
    padding: 10px;
}

.setting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #00acb55d;
    border-radius: 5px;
    padding: 20px;
}

button {
    background-color: #00ADB5;
    width: 150px;
    padding: 10px;
    border: 2px solid #00767c;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s;
    font-weight: bold;
    font-size: large;
    color: #222831;
}

button:hover {
    background-color: #00acb593;
}

button:active {
    background-color: skyblue;
}

#color {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#color::-webkit-color-swatch {
    border-radius: 20px;
    border: none;
}

#color::-moz-color-swatch {
    border-radius: 20px;
    border: none;
}

.input-range {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

label {
    font-weight: bolder;
    color: #004649;
}



footer {
    padding: 10px;
    text-align: center;
}

header,
footer {
    background-color: #393E46;
    color: #EEEEEE;
}

.canvas {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid gray;
    box-shadow: 2px 4px #888888;
    user-select: none;
}

.row {
    display: flex;
    flex-direction: row;
}

.block {
    flex: 1;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}