* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.canvas {
    display: flex;
    flex-direction: column;
    min-width: 480px;
    width: 65%;
    border: 4px solid gray;
}

.row {
    display: flex;
    flex-direction: row;
}

.block {
    flex: 1;
    aspect-ratio: 1;
    border: 1px solid skyblue;
}